---
layout: minimal
---
	{% include components/headers.html headertype= page.header_type imghero=page.header_img projects=page.project_links %}

    <main class="container-sm pb-3 flex-fill">
		<div class="row pt-2 ">
			<article id="maincontent" class="col-lg-12 mt-3 e-content">
			{{- content -}}	
			</article>
		</div>
	</main>

	{%- if page.show_bottomnavs -%}
	  {%- include components/navbeforeafter.html -%}
	{%- endif -%}
	{%- if page.show_categories -%}
		{% assign size = page.categories | size %}
		{% if size > 0 %}
  	{%- include components/categories.html-%}
  	{% endif %}
	{%- endif -%}
	{%- if page.show_tags -%}
		{% assign size = page.tags | size %}
		{% if size > 0 %}
	  {%- include components/tags.html-%}
	  {% endif %}
	{%- endif -%}
	{%- if page.show_related -%}
	  {%- include components/related.html -%}
	{%- endif -%}
